
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  }
  
  h1{
    text-align: center;
  }


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  margin-bottom: 10px;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
.container {
  text-align: center;
  margin-top: 20px;
}
.twitter-button {
  background-color: #1da1f2; 
  color: #fff; 
  border: none; 
  border-radius: 20px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
}  
.twitter-button:hover{
    background-color: lightblue;
}
 .github-button {
  background-color: #24292d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.github-button:hover {
  background-color: #555b61;
}
.github-button:active {
  background-color: #1c1f21; 
}
.linkedin-button{
  border-radius: 5px;
  padding: 7px;
  background-color: lightskyblue;
  border: none;
  font-size: 18px;
  color:white
}
.linkedin-button:hover{
  background-color: lightblue;
  color: black;
}