h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-top: 10px;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 20px;
    
}
li{
    margin: 10px;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: white;
    background-color: brown;
}
body{
    background-image: url(img/IMG-20230615-WA0000.jpg);
    color: white;
}
label.logo{
    font-size: 35px;
    padding: 10px;
    line-height: 80px;
}
