body {
    font-family: 'Courier New', Courier, monospace;
    background-color:gray;
    color: black;
    margin: 0;
}
.wrapper {
    background-color:ghostwhite;
    margin: 0 auto;
    width: 90%;
    margin-top: 40px;
    border-radius: 10px;
}
.right-h nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    gap: 2rem;;
}
ul li{
    list-style-type: none;
}
li > a{
    text-decoration: none;
    font-weight: bold;
    color: ghostwhite;
    font-size: 20px;
}
li >a:hover{
    text-decoration: overline;
    color: yellow;
}

h1.logo {
    margin: auto 0;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-weight: normal;
    color:  #EA8859; 
    text-shadow: 2px 2px #6D909C;
}
.menu {
    height: 550px;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    background-image: url(img/jom.jpg);
    border-radius: 10px;
    
}
.menu-box {
    margin: 5rem;
    flex-basis: 48%;
    background-color: #F0EBDF;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.menu-box li a{
    color: black;
    font-weight: normal;
}
.menu-box li a:hover{
    color:#fff;
    background-color: black;
}
.menu-box >h2{
    text-decoration: underline;
}
.home blockquote  {
    color:  black;
    font-weight: bold;
}
main{
    background-color:gray;
}
.the-head{
    background-color:#6D909C;
    color: white;
}.copyright{
    text-align: center;
}
.about-pic{
    background-image: url(img/jem.jpg);
    background-size: cover;
    color: white;
}
.what-ilike{
    background-image: url(img/jum.jpg);
    color: whitesmoke;
}
.what-ilike:hover{
    transform: translate(10px,5px);
}
.what-ilike b:hover, i:hover{
    background-color: white;
    color: black;
}
.jmngandu{
   
    width: 12rem;
    float: left;
    padding: 0 1.5rem 1rem 0;
    opacity: 0.5;
}
.about-me{
    display: flex;
}
.lion{
    color: red;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-decoration:overline;
}
.lion:hover{
    transform: rotate(5deg);
    color: #EA8859;
    text-decoration:underline ;
}
.the-form{
    background-color: #EA8859;
}
.my-links{
    background-color:cyan;
}
.contacts{
    display: flex;
}
fieldset{
    border-radius: 10px;
    border: 1px solid black;
    margin: 2rem;
}
legend{
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
label{
    display: block;
    padding-bottom: 0.5rem;
}
#submit{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px 20px;
    cursor: pointer;
}
#submit:hover{
    background-color: black;
    color: white;
}
.social-media{
    background-color: dimgray;
    flex-basis: 30%;
    justify-content: center;
}
#my-imag{
    width:100%;
}
#riverpic{
    width: 100%;
}
#media-s a{
    color:white;
}
.medias {
    border: white solid 1px;
    display: flex;
    gap:1rem;
    flex-flow: wrap;
    
}
#media-s a:hover{
    color:white;
    background: black;
    cursor: wait;
}
.imagy{
    display: flex;
   
   flex-wrap: wrap;
}
#car{
    float:left;
}
.imd {
    width: 50%;
}
.texie{
    float: right;
}